body {
    background-color: turquoise;
}

.profimg {
    border-radius: 20%;
    border-style: solid;
    border-width: thick;
    border-color: hotpink;
    float: left;
    
}

h1 {
    font-family: 'Permanent Marker', cursive, sans-serif;
    color:aliceblue;
    font-size: 40px;
}

h2 {
    font-family: 'Permanent Marker', cursive, sans-serif;
    color:turquoise;
    float: right;
    margin-top: 5px;
}

h3 {
    color: purple;
    font-size: x-large;
}


p {
    font-family: 'DotGothic16', sans-serif;
    color: aliceblue;
    font-size: 20px;
    float: right;
}

.topnav {
    background-color: white;
    overflow: hidden;
    height: 45px;
  }
  
  .topnav a {
    color: turquoise;
    font-family: 'Permanent Marker', cursive, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  .topnav a:hover {
    background-color: hotpink;
    color: white;
  }
  
  .video {
    bottom: 0%;
    position: fixed;
  }